*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(227, 227, 211);
}
header, footer{
    background-color: rgb(250, 241, 229);
    padding: 0.6em;
}
header{
    font-size: 2em;
    font-weight: 900;
}
main{
    
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}